:root {
  /* Color Palette */
  /* Primary */
  --cta-text: hsl(356, 100%, 66%);
  --cta-hover-bg: hsl(355, 100%, 74%);
  --headings: hsl(208, 49%, 24%);

  /* Neutral */
  --neutral: hsl(0, 0%, 100%);
  --footer-text: hsl(240, 2%, 79%);
  --body: hsl(207, 13%, 34%);
  --footer-bg: hsl(240, 10%, 16%);

  /* Gradients */
  --bg-gradient: hsl(237, 17%, 21%);
  --bg-gradient-two: hsl(237, 23%, 32%);
  --intro: hsl(13, 100%, 72%);
  --intro-two: hsl(353, 100%, 62%);
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--body);
  font-family: "Overpass", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  color: var(--headings);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Buttons */
.btn {
  background: none;
  padding: 1.2rem 4vw;
  outline: 0;
  border: 0;
  border-radius: 40px;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.4rem;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

.btn--neutral {
  color: var(--cta-text);
  background: var(--neutral);
  transition: background 0.3s, color 0.3s;
}

.btn--neutral:hover {
  background: var(--cta-hover-bg);
  color: var(--neutral);
}

.btn--outline {
  border: 2px solid var(--neutral);
  background: none;
  transition: background 0.3s, color 0.3s;
  color: var(--neutral);
}

.btn--outline:hover {
  background: var(--neutral);
  color: var(--cta-text);
}

@media screen and (min-width: 768px) {
  .btn {
    padding: 1.2rem 1vw;
    font-size: 1.6rem;
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* List */
.list {
  list-style: none;
}

.list--inline {
  display: inline-block;
}

/* Blocks */
.block {
  padding: 2.5rem 2rem;
}

.block--orange {
  background-image: linear-gradient(to right, var(--intro), var(--intro-two));
}

.block--dark {
  background-image: linear-gradient(
    to right,
    var(--bg-gradient) 15%,
    var(--bg-gradient-two) 50%
  );
}

.block--radius-bl {
  border-bottom-left-radius: 100px;
}

.block--radius-tr {
  border-top-right-radius: 100px;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 65%;
  }

  .container--center {
    margin: 0 auto;
  }

  .container--bigger {
    max-width: 80%;
  }

  .container--left {
    margin-left: auto;
  }

  .container--right {
    margin-right: auto;
  }
}

/* Links */
a {
  text-decoration: none;
}

/* Collapsibles */
.collapsible__heading {
  color: var(--neutral);
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  color: #76757a;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

.collapsible__toggler {
  transform: rotate(0) translateY(-0.2rem);
  margin-left: 0.5rem;
  transition: transform 0.3s;
}

.collapsible--expanded .collapsible__toggler {
  transform: rotate(-180deg) translateY(0.2rem);
  margin-left: 0.5rem;
}
