<header class="header">
  <nav class="nav">
    <a href="/" class="nav__logo"><img src="images/logo.svg" alt="" /></a>
    <span class="collapsible collapsible__toggler hamburger"></span>
    <div class="card collapsible__content">
      <ul class="nav__main list">
        <li
          class="collapsible nav__collapsible-link-toggler"
          id="nav__item-one"
        >
          <p class="collapsible__heading">
            Product
            <span class="collapsible__toggler nav__arrow-toggler"></span>
          </p>
          <div class="collapsible__content nav__links">
            <ul class="list nav__collapsible-link">
              <li><a href="">Overview</a></li>
              <li><a href="">Pricing</a></li>
              <li><a href="">Marketplace</a></li>
              <li><a href="">Features</a></li>
              <li><a href="">Integrations</a></li>
            </ul>
          </div>
        </li>
        <li
          class="collapsible nav__collapsible-link-toggler"
          id="nav__item-two"
        >
          <p class="collapsible__heading">
            Company
            <span class="collapsible__toggler nav__arrow-toggler"></span>
          </p>
          <div class="collapsible__content nav__links">
            <ul class="list nav__collapsible-link">
              <li><a href="">About</a></li>
              <li><a href="">Team</a></li>
              <li><a href="">Blog</a></li>
              <li><a href="">Carrers</a></li>
            </ul>
          </div>
        </li>
        <li
          class="collapsible nav__collapsible-link-toggler"
          id="nav__item-three"
        >
          <p class="collapsible__heading">
            Connect
            <span class="collapsible__toggler nav__arrow-toggler"></span>
          </p>
          <div class="collapsible__content nav__links">
            <ul class="list nav__collapsible-link">
              <li><a href="">Contact</a></li>
              <li><a href="">Newsletter</a></li>
              <li><a href="">LinkedIn</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="nav__login">
        <a href="" class="btn">Login</a>
        <a href="" class="btn btn--gradient">Sign Up</a>
      </div>
    </div>
  </nav>
</header>
<section class="hero block block--orange block--radius-bl">
  <div class="hero__container">
    <h1>A modern publishing platform</h1>
    <p class="hero__text">Grow your audience and build your online brand</p>
    <div class="hero__btn-wrapper">
      <a href="" class="btn btn--neutral">Start for Free</a>
      <a href="" class="btn btn--outline">Learn More</a>
    </div>
  </div>
</section>
